/*
Special styling for the portfolio page overriding styles from main.css and nav+footer.css
*/
.nav{
	position: fixed;
}

.footer{
	position: fixed;
	z-index: 2;
}

.container{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

/*
Styles for the project scroll list
*/
#list{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
	overflow: hidden;
	z-index: 2;
}

#list .side-gradation{
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 100%;
}

#list .side-gradation.r{
	left: auto;
	right: 0;
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

#list .side-gradation div{
	position: absolute;
	top: 0;
	width: 1px;
	height: 100%;
}

#list ul{
	position: relative;
	height: 100%;
	z-index: 2;
	cursor: -webkit-grab;
	cursor: -moz-grab;
	cursor: grab;
}

.grabbing, .grabbing #list ul{
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
	cursor: grabbing;
}

#list li {
	position: absolute;
	left: 0;
	top: 50%;
	width: 120px;
	height: 120px;
	list-style: none;
	margin-top: -60px;
	z-index: 0;
	opacity: 1;
	visibility: hidden;
	background-color: #77c4d3;
}

#list li.show {
	z-index: 1;
	visibility: visible;
}

#list li a{
	position: relative;
	width: 100%;
	height: 100%;
	color: #606060;
	text-decoration: none;
	background-clip: #000;
	display: block;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

#list li a .thumb{
	position: relative;
	width: 100%;
	height: 100%;
	display: block;
	overflow: hidden;
	cursor: pointer;
}

#list li a img{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 120px;
	height: 120px;
	margin: -60px 0 0 -60px;
	display: block;
}

#list li a strong{
	visibility: hidden;
}

#list h5{
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	font-size: 13px;
	font-weight: 500;
	color: #606060;
	line-height: normal;
	text-align: center;
	text-shadow: 0 1px 0 rgba(0,0,0,0.35);
	margin-top: 80px;
	padding: 10px 0;
	z-index: 1;
	pointer-events: none;
}

#list .indicator{
	position: absolute;
	left: 50%;
	top: 10%;
	bottom: 10%;
	width: auto;
	margin-left: -1px;
	border-left: 1px dashed #606060;
	opacity: 1;
	z-index: 0;
	pointer-events: none;
}

#list li a:before, #list li a:after{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	content: '';
	border: 2px solid #77c4d3;
	opacity: 0;
	z-index: 1;
	pointer-events: none;
	cursor: pointer;
	-webkit-transform: rotate(-0.0001deg) scale(1.35, 1.35);
	transform: rotate(-0.0001deg) scale(1.35, 1.35);
	-webkit-transform: all 0.01s 0.2s cubic-bezier(0.550, 0.550, 0.675, 0.190), opacity 0.2s linear;
	transform: all 0.01s 0.2s cubic-bezier(0.550, 0.550, 0.675, 0.190), opacity 0.2s linear;
}

#list li a.on:before, #list li a.on:after, .hoverable #list li a:hover:before, .hoverable #list li a:hover:after{
	opacity: 1;
	-webkit-transform: scale(1,1);
	tranform: scale(1,1);
	-webkit-transition: all 0.5s cubic-bezier(0.215, 0.610, 0355, 1.000);
	transform: all 0.5s cubic-bezier(0.215, 0.610, 0355, 1.000);
}

.hoverable #list li a:hover:after{
	-webkit-transition-delay:0.125s;
	transition-delay: 0.125s;
}
