.content{
    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;
}

.footer {
    position: relative;
    margin-top: 4em;
}

@media screen and (max-width: 600px) {
  .content {
    width: 100%;
    padding-left: auto;
    padding-right: auto;
  }
}
